HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### App related ###
README.md
README_local.md
# The following files are generated/updated by Hilla
node_modules/
frontend/generated/
vite.generated.ts
/infra/.idea/
/infra/.terraform/
/infra/.terraform.lock.hcl
/infra/terraform.tfstate
/infra/terraform.tfstate.backup
/infra/tfplan
/infra/env_vars.sh
